<div id="menuV">
<ul>
    <li style="padding: 10px;"><img class="logo" src="/img/logo.png" /></li>
    <li class="separator"></li>
    <li class="rubrique">Medias Players</li>
    <li><a class="active" href="#home">Media ATEM</a></li>
    <li class="separator"><a href="#home">Media CG</a></li>
    <li class="rubrique">Sony DVS8000</li>
    <li><a href="#news">Mappings</a></li>
    <li class="separator"></li>
    <li><a href="#about"></a></li>
  </ul>
</div>
