<div id="menuH">
    <ul>
        <li><a class="active" href="#home">Dashboard</a></li>
        <li><a href="#news">Monitoring</a></li>
        <li><a href="#contact">Settings</a></li>
        <li style="float:right"><a href="">Status ATEM: <span id="statusAtem1"></span></a></li>
        <li style="float:right"><a href="">Status CasparCG: Null</a></li>
      </ul>
    </div>