<div class="statusMachin">
    <div class="vignette">
        <div class="titre">Atem Blackmagic</div>
        <ul>
            <li>NOM : NULL</li>
            <li>Address IP : <span id="ipAtem"></span></li>
            <li>Status : <span id="statusAtem"></span></li>
        </ul>
    </div>
    <div class="vignette">
        <div class="titre">CG Server 1</div>
        <ul>
            <li>NOM : NULL</li>
            <li>Address IP : <span id="ipAtem"></span></li>
            <li>Status : <span id="statusAtem"></span></li>
        </ul>
    </div>
    <div class="vignette">
        <div class="titre">CG Server 2</div>
        <ul>
            <li>NOM : NULL</li>
            <li>Address IP : <span id="ipCG2"></span></li>
            <li>Status : <span id="statusCG2"></span></li>
        </ul>
    </div>
   
    <div class="vignette">
        <div class="titre">Pupitre</div>
        <ul>
            <li>NOM : NULL</li>
            <li>Address IP : <span id="ipPupitre"></span></li>
            <li>Status : <span id="statusPupitre"></span></li>
        </ul>
    </div>
</div>